.reviews {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    > .container {
        margin-top: var(--top-margin);
        text-align: center;
        > p {
            font-size: 25px;
            line-height: 1.5;
            color: var(--text-color);
            max-width: 600px;
            display: block;
            margin: 0 auto 30px;
            position: relative;
            @media (max-width: 767px) {
                font-size: 20px;
            }
            span:nth-child(1) {
                font-weight: 900;
                position: relative;
                left: -5px;
                top: -5px;
                color: var(--main-color);
            }
            span:nth-child(2) {
                font-weight: 900;
                position: relative;
                right: -5px;
                bottom: -5px;
                color: var(--main-color);
            }
        }
        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
                img {
                    width: 130px;
                    border-radius: 50%;
                    margin-right: 15px;
                    border: 2px solid var(--main-color);
                    padding: 1px;
                    cursor: pointer;
                    opacity: 0.5;
                    transition: var(--main-transition);
                    @media (max-width: 767px) {
                        width: 50%;
                        max-width: 100%;
                    }
                    @media (max-width: 767px) {
                        &:not(.active) {
                            display: none;
                        }
                    }
                    &:hover {
                        opacity: 1;
                        transition: var(--main-transition);
                    }
                    &.active {
                        opacity: 1;
                        transition: var(--main-transition);
                    }
                }
            }
        }
        .details {
            margin-top: 30px;
            span {
                display: block;
                margin-bottom: 10px;
                &.name {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--heading-Color);
                }
                &.job {
                    font-size: 16px;
                    font-weight: normal;
                    color: #999;
                }
            }
        }
    }
}
